.calva
.clj-kondo
.cpcache
.lsp
docs
target
.nrepl-port
.rebel_readline_history
todo.md
.shadow-cljs
node_modules
resources/public/js
resources/public/cljs-runtime
resources/public/main.js
resources/public/manifest.edn
