{:source-paths ["src" "test"]
 :dependencies [[reagent "1.2.0"]
                [quil/quil "4.3.1323"]]
 :dev-http {8080 "resources/public"}
 :builds {:app  {:output-dir "resources/public"
                 :asset-path "."
                 :target :browser
                 :source-map false
                 :modules {:main {:init-fn sketches.entry/chooser}}
                 :devtools {:after-load sketches.entry/chooser}}
          :prod {:output-to "docs/js/main.js"
                 :output-dir "docs/js/"
                 :asset-path "."
                 :target :browser
                 :compiler-options {:optimizations :advanced}
                 :js-options {:minimize-require true}
                 :modules {:main {:init-fn sketches.entry/chooser}}}
          :min {:output-to "resources/public/js/main.js"
                :target :browser
                :output-dir "resources/public/js/"
                :asset-path "."
                :compiler-options {:optimizations :simple}
                :js-options {:minimize-require true}
                :modules {:main {:init-fn sketches.entry/chooser}}}}}