{:source-paths ["src" "test"]
 :dependencies [[reagent "1.2.0"]
                [quil/quil "4.3.1323"]
                [thheller/shadow-cljs "2.26.2"]]
 :dev-http {8080 "resources/public"}
 :builds {:app  {:output-to "resources/public/js/main.js"
                 :output-dir "resources/public/js/"
                 :asset-path "."
                 :target :browser
                 :modules {:main {:entries [sketches.entry]}}
                 :devtools {:after-load sketches.flow/reload!}}
          :prod {:output-to "docs/js/main.js"
                 :output-dir "docs/js/"
                 :asset-path "."
                 :target :browser
                 :compiler-options {:optimizations :advanced}
                 :js-options {:minimize-require true}
                 :modules {:main {:entries [sketches.flow]}}}
          :min {:output-to "resources/public/js/main.js"
                :target :browser
                :output-dir "resources/public/js/"
                :asset-path "."
                :compiler-options {:optimizations :simple}
                :js-options {:minimize-require true}
                :modules {:main {:entries [sketches.flow]}}}}}